.container
{
    position: relative;
    
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Helvetica';
    letter-spacing: -1.9px;
    font-size: 2em;
}

.logo
{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin-top: -460px;
}

.logoimage
{
    scale: 5%;
    color: darkgrey;
}