

.rotation
{
  position: absolute;
  transform-origin: 0 0;
  rotate: -5deg;
  width: 100vw;

}

.title
{
  position: absolute;
  top: 25px;
  left: -2.3vw;
  height: auto;
  margin: 0;
  width: max-content;
  font-size: 14vw;
  font-family: 'Helvetica';
  font-weight: 900;
  letter-spacing: -0.105em;
  text-align: left;
  user-select: none;
}

.dot
{
  position: relative;
  padding: 0;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  margin-left: 1vw;
  margin-right: -0.6vw;
  background-color: var(--dot-default-color);
  transform-origin: center;
  cursor: pointer;
  z-index: 10;
}

.titleLoremIpsum {
  display: block;
  position: absolute;
  top: -10vw;
  left: -2vw;
  
  width: 95vw;
  font-size: 1vw;
  font-family: 'Georgia';
  font-weight: 100;
  letter-spacing: -0.05em;
  line-height: 75%;
  text-align: justify;
  color: var(--dot-default-color);
  user-select: none;
  z-index: -10;
}


.randomText {
  display: block;
  position: absolute;
  bottom: 2.2vw;
  right: -1vw;
  
  width: max-content;
  font-size: 2vw;
  font-family: 'Georgia';
  font-weight: 100;
  letter-spacing: -0.05em;
  text-align: right;
  color: var(--dot-default-color);
  user-select: none;
}

.pageList 
{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: max-content;
  gap: 2vw;
  left: 2vw;
  bottom: -10vw;
}

.pageList button
{
  font-size: 2vw;
  border: none;
  background-color: transparent;
  font-family: 'Georgia';
  letter-spacing: -0.05em;
  cursor: pointer;
}