html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overscroll-behavior: none;
}

.wrapper
{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.rotation
{
  position: absolute;
  transform-origin: 0 0;
  rotate: -5deg;
  width: 100vw;

}

.header
{
  position: absolute;
  top: 25px;
  left: -2.3vw;
  height: auto;
  margin: 0;
  width: max-content;
  font-size: 14vw;
  font-family: 'Helvetica';
  font-weight: 900;
  letter-spacing: -0.105em;
  text-align: left;
  user-select: none;
}

.nameText
{
  display: inline-block;
}

.dot
{
  position: relative;
  padding: 0;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  margin-left: 1vw;
  margin-right: -0.6vw;
  background-color: var(--dot-default-color);
  transform-origin: center;
  cursor: pointer;
  z-index: 10;
}

.net
{
  display:inline-block;
  transform-origin: bottom left;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 0.8;
  text-box-trim: both;
  text-box-edge: cap alphabetic;
}


.titleLoremIpsum {
  display: block;
  position: absolute;
  top: -10vw;
  left: -2vw;
  
  width: 95vw;
  font-size: 1vw;
  font-family: 'Georgia';
  font-weight: 100;
  letter-spacing: -0.05em;
  line-height: 75%;
  text-align: justify;
  color: var(--dot-default-color);
  user-select: none;
  z-index: -10;
}


.randomText {
  display: block;
  position: absolute;
  bottom: 2.2vw;
  right: -1vw;
  
  width: max-content;
  font-size: 2vw;
  font-family: 'Georgia';
  font-weight: 100;
  letter-spacing: -0.05em;
  text-align: right;
  color: var(--dot-default-color);
  user-select: none;
}

.pageList 
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  width: max-content;
  max-height: max-content;
  gap: 0.5vw;
  right: 79.5vw;
  top: 16vw;
}

.pageButtonSelected
{
  position: relative;
  display: flex;
  flex-direction:  column;
  align-items:  flex-end;
  justify-content: flex-start;
  font-size: 2vw;
  padding-right: 1vw;
  padding-bottom: 0.2vw;
  padding-left: 200%;
  font-family: 'Georgia';
  color: rgb(255, 255, 255);
  border-color: transparent;
  border-style: solid;
  border-width: 0.15cap;
  background-color: rgb(0, 0, 0);
  letter-spacing: -0.05em;
  cursor: pointer;
  z-index: 0;
}


@media only screen and (max-width: 767px)
{
  .pageList button
  {
    font-size: 4vw;
  }
}

.pageButtonDescription
{
  display:inline-block;
  position:absolute;
  color: var(--dot-default-color);
  height: 0;
  margin: 0;
  padding: 0;
  right: 1vw;
  top: 2vw;
  text-align: left;
  font-size: 1.5vw;
  width: max-content;
  z-index: -20;
  pointer-events: none;
}


.footer
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.1vh;

  flex-grow: 0;
  flex-shrink: 0;
  width: 110vw;
  height: 30vh;
  transform: translateY(10vh);
  margin-top: auto;
  padding-top: 10vh;
  background-color: black;
  transform-origin: bottom left;
  rotate: -2deg;
  z-index: 100;
}

.pageContent
{
  height: 120vh;
}

.footer p
{
  display: inline-block;
  font-family: 'Georgia';
  font-size: clamp(0.5rem, 1vw, 2rem);
  letter-spacing: -0.05em;
  word-spacing: 0.2em;
  width: 90vw;
  transform: translateX(-5vw);
  text-align: center;
  text-align-last: center;
  color: rgb(110, 110, 110);
  margin: 0;
}

.footer a, a:visited, a:active
{
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.footer a:hover
{
  color: white;
}

.footerLinks
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1.5vw;
  font-family: 'Georgia';
  letter-spacing: -0.05em;
  word-spacing: 0.2em;
  width: 10vw;
  transform: translateX(-5vw);
  color: rgb(145, 145, 145);
  margin: 0;
}

.githubIcon {
  filter: brightness(0) invert(1);
  width: 3vw;
  height: 3vw;
  transform-origin: bottom right;
}

.emailIcon {
  filter: brightness(0) invert(1);
  width: 3.6vw;
  height: 3.6vw;
  transform-origin: bottom left;
}

.twitterIcon {
  filter: brightness(0) invert(1);
  width: 3vw;
  height: 3vw;
  padding-left: 0.5vw;
  transform-origin: center bottom;
}